<section id="section-content" class="row">
	<div class="first-row">
		<header class="showcase-row">
			<div class="showcase-col" col="medium-3">
				<h2>Work</h2>
			</div>
		</header>
		<div class="showcase-row bottom">
			<a class="showcase-col flush-top" col="7" href="/work/justa">
				<span annotation="right flush-top">01.</span>
				<figure aspect-ratio="4x3">
					<%=image_tag("justaBrowse.png", alt: "Justa Logo")%>
							<noscript>
						<%=image_tag("justaBrowse.png", alt: "Justa Logo")%>
				</noscript>					</figure>
				</a>
			</div>

			<div class="da-rest">
				<div class="showcase-row top">
					<a class="showcase-col" col="large-4" href="/work/javascript">
						<span annotation>02.</span>
						<figure aspect-ratio="4x3">
							<%=image_tag("JSBrowse1.png", alt: "Film Quiz JS")%>
							<noscript>
								<%=image_tag("JSBrowse1.png", alt: "Film Quiz JS")%>
							</noscript>					</figure>
						</a>
						<a class="showcase-col hdickenson" col="large-2" href="/work/OMW">
							<span annotation>03.</span>
							<figure aspect-ratio="1x1" show="large">
								<%=image_tag("OMWicon.png", alt: "OMW Logo")%>
								<noscript>
									<%=image_tag("OMWicon.png", alt: "OMW Logo")%>
								</noscript>					</figure>
								<figure aspect-ratio="1x1" show="large">
									<%=image_tag("Ozzi.png", alt: "Film Quiz JS")%>
									<noscript>
										<%=image_tag("Ozzi.png", alt: "Film Quiz JS")%>
									</noscript>					</figure>
									<!--  <figure aspect-ratio="1x1">
										<%=image_tag("comingsoon.jpg", alt: "Film Quiz JS")%>
										<noscript>
											<%=image_tag("comingsoon.jpg", alt: "Film Quiz JS")%>
										</noscript>					</figure> -->
									</a>
									<div class="showcase-col spacer" col="1"></div>
									<div class="showcase-col legend" show="large">
										<ol>
											<li><a href="/work/justa">Fig 01. — Justa</a></li>
											<li><a href="/work/javascript">Fig 02. — Javascript </a></li>
											<li><a href="/work/OMW">Fig 03. — Mobile Apps</a></li>
											<li><a href="/work/PPIE">Fig 04. — Panama Pacific </a></li>
											<li><a href="/work/">Fig 05. — coming soon: women of CS at USF </a></li>
										</ol>
									</div>
								</div>

								<div class="showcase-row top flush">
									<a class="showcase-col" href="/work/PPIE">
										<span annotation>04.</span>
										<figure aspect-ratio="4x3">
											<%=image_tag("PPIEBrowse1.png", alt: "PPIE Website")%>
											<noscript>
												<%=image_tag("PPIEBrowse1.png", alt: "PPIE Website")%>
											</noscript>					</figure>
										</a>
										<a class="showcase-col" href="/work/">
											<span annotation>05.</span>
											<figure aspect-ratio="4x3">
												<%=image_tag("comingsoon.jpg", alt: "Justa Logo")%>
												<noscript>
													<%=image_tag("comingsoon.jpg", alt: "Justa Logo")%>
												</noscript>					</figure>
											</a>
										</div>
									</div>
								</section>


