<div id="content">
    <div id="descrip">
    <p class="statement"><i>Javascript 
    <br>Website
    <br>Winter 2014</i></p>
    <p class="statement">
    </p>
    <p class="statement">

Justa's redesign came out of a need to develop a brand identity along with content that would help the company promote, connect, and share their service better. Key to this was the ability to establish trust across a broad Japanese audience. The way we decided to do that is by using the power of data to create trust between ourselves and new clients. This was my first project while at Justa. I was in charge of a design proposal, drafting content, design guidelines, and finally, implementing these changes in the web development phase. I applied everything I had learned about Justa and its ideas to create new content and a new brand identity that communicates Justa’s mission and goals. 

    </p>    <p class="statement">The following still shows the home page:
    </p> 
   </div>
    
    <%=image_tag("JSBrowse1.png", alt: "Film Quiz JS")%>
    
        <div id="descrip">
    <p class="statement">See the code on github here
    </p> 
   </div>
    <%=image_tag("javascript.png", alt: "Film Quiz JS")%>
</div><!--close for content-->

    
<div id="arrows">   
    <a href="/work/javascript"> <%=image_tag("arrow.png", alt: "back button", :class => "arrow_image")%> </a>
    <a href="/work"> <%=image_tag("thumbnail.png", alt: "work_samples button", :class => "arrow_image")%> </a>
    <a href="/work/PPIE"> <%=image_tag("forward.png", alt: "forward button", :class => "arrow_image")%> </a>
</div>

