<div id="content">
    <div id="descrip">
    <p class="statement"><i>Javascript 
    <br>Website
    <br>Winter 2013</i></p>
    <p class="statement">
    </p>
    <p class="statement">
    Inspired by the vast amount of fandom relating to Wes Anderson, I created a personality quiz website, and the quiz tallies your personality traits regarding popular themes of Wes Anderson films so that users are quickly able to disover the Wes Anderson film that suits them best. The informational content is inspired by a Buzzfeed article titled, "Which Wes Anderson Film Are you?" The goal of the website was to practice javascript and learn a little more Wes Anderson trivia. 

    This website was built using a combination of HTML, CSS, and JavaScript.

    </p>    <p class="statement">The following still shows the home page:
    </p> 
   </div>
    
    <%=image_tag("JSBrowse1.png", alt: "Film Quiz JS")%>
    
        <div id="descrip">
    <p class="statement">See the code on github <a href="https://github.com/shaiwilson/JavascriptQuiz"  target="_blank">here</a>
    </p> 
   </div>
    <%=image_tag("javascript.png", alt: "Film Quiz JS")%>
</div><!--close for content-->

 <!--   
<div id="arrows">   
    <a href="/work/javascript"> <%=image_tag("arrow.png", alt: "back button", :class => "arrow_image")%> </a>
    <a href="/work"> <%=image_tag("thumbnail.png", alt: "work_samples button", :class => "arrow_image")%> </a>
    <a href="/work/PPIE"> <%=image_tag("forward.png", alt: "forward button", :class => "arrow_image")%> </a>
</div>
-->

