<div id="content">
    <div id="descrip">
    <p class="statement"><i>Panama Pacific World's Fair Exhibition 
    <br>Website
    <br>Spring 2015</i></p>
    <p class="statement">This project was my first foray into web development for the University of San Francisco's Exhibition celebrating the centennial celebration of the Panama Pacific International Exhibition, or PPIE for short. The University of San Francisco holds rare works from the 1915 exhibition in their permanent collection and the exhibition needed a website that better fit the the theme of San Francsico's innovation and progress. I began my work by researching the PPIE and taking notes from USF's wonderful student art historians curating the exhibition, and using those notes to help structure the redesign process. This project is just a brief insight into the thought and work put into helping reshape the exhibition online.
    </p>

    </p>    <p class="statement">see the website live <a href="#">here</a>
    </p> 
   </div>
    
 
    <%=image_tag("map_PPIE.png", alt: "PPIE Website")%>
    
        <div id="descrip">
    <p class="statement">Stills:
    </p> 
   </div>
    <%=image_tag("PPIEBrowse1.png", alt: "PPIE Website")%>
    <%=image_tag("PPIEBrowse2.png", alt: "PPIE Website")%>
    <%=image_tag("PPIEBrowse3.png", alt: "PPIE Website")%>
    <%=image_tag("PPIEBrowse4.png", alt: "PPIE Website")%>
    
</div><!--close for content-->

 
 <div id="arrows">   
    <a href="/work/OMW"> <%=image_tag("arrow.png", alt: "back button", :class => "arrow_image")%> </a>
    <a href="/work"> <%=image_tag("thumbnail.png", alt: "work_samples button", :class => "arrow_image")%> </a>
    <a href="/work/javascript"> <%=image_tag("forward.png", alt: "forward button", :class => "arrow_image")%> </a>
</div>

