<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Shai Wilson likes programming and designing.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="author" content="Shai Wilson">
    <meta name="keyword" content="Interactive, Design, Interactive Design, Web Development, USF, Web Design, UI, User Interface, Shai, Wilson, Shai Wilson,">
    <title class="title"><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <nav class="menu">
        <ul class="navigation">
          <li class="menuItem"><%= link_to "Home",    root_path %></li>
          <li class="menuItem"><%= link_to "Work",    work_path %></li>
          <li class="menuItem"><%= link_to "About",    about_path %></li>
          <li class="menuItem"><%= link_to "Resume",    resume_path %></li>
          <li class="menuItem"><%= link_to "Blog", blogs_path %></li>
        </ul>
      </nav>
  <div class="topleft">Shai Wilson</div>
  <div class="topright"><a href="https://github.com/shaiwilson"  target="_blank">github</a></div>
  <div class="bottomleft">It is, <div id="time">time</div> where you are</div>
  <div class="bottomright">It is, <div id="time">time</div> where I am</div>


    <%= yield %>


  </body>
</html>