<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Shai Wilson likes programming and design.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="author" content="Shai Wilson">
  <meta name="keyword" content="Interactive, Software, Engineering, Design, Interactive Design, Web Development, USF, Web Design, UI, User Interface, Shai, Wilson, Shai Wilson, Shailee, Shailee Wilson,">
  <title class="title">Shai Wilson Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all',
  'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id= "top-header">
    <nav>
          <ul>
            <li class="page-item"><span class="linkE"><%= link_to "Home",    root_path %></span></li>
            <li class="page-item"><span class="linkE"><%= link_to "Work",    work_path %></span></li>
            <li class="page-item"><span class="linkE"><%= link_to "Resume",    resume_path %></span></li>
          </ul>
        </nav> 
  </div>
    <header id="global-header" class="row">
      <div class="nav-container">
      <nav>
        <ul>
          <li>shai wilson</li>
          <li>san francisco, ca</li>
          <li><h6>Say hi</h6></li>
          <li><a class="redirect" href="mailto:sjwilson2@usfca.edu">sjwilson2@usfca.edu</a></li>
        </ul>
      </nav>
      <!--
        <nav>
          <ul>
            <li><span class="linkE"><%= link_to "Home",    root_path %></span></li>
            <li><span class="linkE"><%= link_to "Work",    work_path %></span></li>
            <li><span class="linkE"><%= link_to "Resume",    resume_path %></span></li>
            <li><span class="linkE"><!-- <%= link_to "Blog", blogs_path %> --> Blog coming soon!</span></li> 
         <!-- </ul>
        </nav> -->
        <nav>  
          <ul class="contact">
            <li>
              <span class="linkE"><a href="https://github.com/shaiwilson"  target="_blank">github</a></span><br>
              <span class="linkE"><a href="https://www.linkedin.com/pub/shai-wilson/90/5b1/1bb"  target="_blank">linkedin</a></span><br>
             <!-- <span class="linkE"><a href="#"  target="_blank">dribbble</a></span><br> -->
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
  <%= yield %>

    </main>
</body>
</html>